*{
    margin: 0;
    padding: 0;
}
.container{
    background-color: rgb(24, 24, 24);
    color: white;
    font-size: 12px;
    text-align: center;
    padding: 18px;
    display: flex;
    justify-content: space-evenly;
}
.image{
    width: 16px;

}
.Applelogo{
    background-color: black;
    text-align: center;
    width: 100%;
}
#applelogo{
    width: 20%;
    text-align: center;
}
.wvdc{
    color: white;
    font-size: 47px;
    text-align: center;

}
#wvdc{
    width: 45px;
    text-align: center;
    margin-top: 10px;
}
.subhead{
    text-align: center;
    color: white;
    margin-top: 10px;
}
button{
    background-color: blue;
    color: white;
    font-size: 15px;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    border: 2px solid blue;
    margin-top: 10px;
}